.kegiatan-penelitian {
	padding: 5rem;
}

.con-kPenelitian {
	justify-content: space-between;
}

.con-kPenelitian:first-of-type {
	margin-bottom: 4rem;
}

.last-img {
	text-align: right;
}

section.kegiatan-penelitian:last-of-type {
	padding-top: 0;
}

section.kegiatan-penelitian:first-of-type {
	padding-bottom: 4rem;
}

h1 {
	padding-bottom: 5px;
	font-size: 2.25rem;
	border-bottom: 4px solid #fdcb2c;
}

.title-page {
	margin-top: 5rem;
}

.first-pengabdian {
	padding-top: 4rem;
}

.title {
	text-decoration: underline;
	text-decoration-color: #fdcb2c;
	-moz-text-decoration-color: #fdcb2c;
}

.image-pub {
	width: 50%;
	aspect-ratio: 1.5/1;
	overflow: hidden;
}

.image-pub img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.2s cubic-bezier(0.42, 0, 1, 0.63) 0s;
	-webkit-transition: all 0.2s cubic-bezier(0.42, 0, 1, 0.63) 0s;
	-moz-transition: all 0.2s cubic-bezier(0.42, 0, 1, 0.63) 0s;
	-ms-transition: all 0.2s cubic-bezier(0.42, 0, 1, 0.63) 0s;
	-o-transition: all 0.2s cubic-bezier(0.42, 0, 1, 0.63) 0s;
}

.image-pub img:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.info-pub {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h2 {
	font-size: 1.5rem !important;
	margin-bottom: 1.5rem;
	font-weight: 600 !important;
}

.info-pub p {
	line-height: 1.8rem;
	opacity: 0.9;
	margin: 0.2rem;
}

.info-pub h2 {
	margin-bottom: 1.5rem;
}

.info-pub button {
	margin-top: 1rem;
	padding: 5px 12px;
	background-color: #fdcb2c;
	font-weight: 500;
	border: none;
	outline: none;
	opacity: 0.9;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.info-pub button:hover {
	opacity: 1;
}

.fa-clock {
	color: #fdcb2c;
	margin-right: 0.3rem;
}

.small-news-info {
	margin-bottom: 1rem;
}
