@media (max-width: 1025px) {
	.card-jurusan-1 {
		width: 31%;
	}

	.big-news {
		width: 45%;
	}

	.con-small-news {
		width: 55%;
	}

	/* ini adalah page content */
	.img-content-side {
		display: none;
	}
}

@media (max-width: 769px) {
	html {
		font-size: 14px;
	}

	.nav-color {
		background-color: #1b37be;
	}

	footer.flex-row-in {
		flex-direction: column;
		text-align: center;
	}

	.list-footer {
		margin-top: 1.5rem;
		padding-left: 0;
	}

	.carousel-item img {
		width: 100%;
		height: 17.5rem;
	}

	/* // info */
	section.photo-info > div.flex-row-in {
		flex-direction: column;
	}

	.photo-info-left {
		height: 30rem;
	}

	.left-info {
		width: 100%;
	}

	.card-info {
		height: 35%;
		width: 100%;
	}

	.info-1 {
		width: 100%;
		bottom: -10000000px;
	}

	.right-info {
		width: 100%;
	}

	.card-info,
	.card-info-right {
		padding: 30px 15px;
	}

	/* berita dan vidio */
	section.berita-vidio,
	section.pengumuman-agenda {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	section.berita-vidio > div.flex-row-in {
		flex-direction: column;
	}

	.con-berita,
	.con-vidio {
		width: 100%;
	}

	.con-berita {
		margin-bottom: 2.5rem;
	}

	.con-berita > a {
		display: block;
		margin-top: 1rem;
	}

	/* pelayanan-pelayanan */
	section.pelayanan-akademik {
		padding-top: 3rem;
		padding-bottom: 0.5rem;
	}

	section.pelayanan-akademik > div.flex-row-in {
		flex-direction: column;
	}

	.card-pel-ak {
		width: 100%;
		margin-bottom: 2.5rem;
	}

	/* pengumauman dan agenda */
	section.pengumuman-agenda > div.flex-row-in {
		flex-direction: column;
	}

	.pengumuman-lowongan {
		width: 100%;
		margin-bottom: 2.5rem;
	}

	.agenda {
		width: 100%;
	}

	/* ini adalah page jurusan */
	.gallery-jurusan {
		gap: 2rem;
		padding: 20px 0;
	}

	.card-jurusan-1 {
		width: 46%;
	}

	/* jurusan bagian program pendidikan */
	section.program-pendidikan > div.flex-row-in {
		flex-direction: column;
	}

	section.kalender {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
		/* height: 100%; */
	}

	/* ini adalah page penelitian */
	section.publikasi.flex-row-in,
	div.con-jurnal-pilihan.flex-row-in,
	.con-kPenelitian {
		flex-direction: column;
	}

	.image-pub,
	.info-pub {
		width: 100%;
	}

	.image-pub {
		margin-bottom: 2rem !important;
	}

	.image-pub img {
		width: 100%;
	}

	.two-publikasi {
		flex-direction: column-reverse;
	}

	/* ini adalah page berita */
	.big-news {
		margin-bottom: 0.75rem;
	}

	.con-small-news,
	.big-news {
		width: 100%;
	}

	.img-news-small img {
		height: 7.5rem;
		width: 100%;
	}

	.con-big-small {
		flex-direction: column;
	}

	/* ini adalah page content */
	.small-content-title {
		font-size: 14px;
	}

	.small-content-info {
		font-size: 12px;
	}

	/* ini adalah page tentang ft */
	.misi,
	.visi,
	.sejarah {
		flex-direction: column !important;
		width: 100%;
	}

	.con-content-tft,
	.image-back {
		width: 100%;
	}
}

@media (max-width: 426px) {
	.card-info,
	.card-info-right {
		padding: 15px 10px;
	}

	div.card-berita a.flex-row-in,
	.small-news-card {
		flex-direction: column;
	}

	.con-img-berita,
	.img-news-small {
		margin-right: 0;
		margin-bottom: 1.5rem;
		width: 100%;
		aspect-ratio: 2/1;
	}

	.con-img-berita img,
	.img-news-small img {
		width: 100% !important;
		height: 100% !important;
	}

	.card-info p,
	.card-info-right p {
		margin-bottom: 0.4rem !important;
	}

	.card-jurusan-1,
	.con-imagejs {
		width: 100%;
	}

	div.con-berita.flex-row-in {
		flex-direction: column;
	}

	/* ini adalah page berita */
	section.padbot-top con-berita {
		margin-bottom: 0;
	}

	div.con-berita div.card-berita {
		width: 100%;
		margin-bottom: 2rem;
	}

	div.con-berita div.card-berita:last-of-type {
		margin-bottom: 0;
	}

	.img-news-small img {
		height: 7.5rem;
		width: 7.5rem;
	}

	.big-news-title,
	.small-news-title {
		font-size: 18px;
		line-height: 1.8rem !important;
	}

	.recent-news p {
		font-size: 16px;
	}

	/* ini adalah page content */
	.container-content {
		flex-direction: column;
	}

	.content,
	.con-side-content {
		width: 100%;
	}

	.img-content-side {
		display: block;
	}
}

@media (max-width: 320px) {
	/* ini adalah page content */
	.img-content-side {
		display: none;
	}
}
