/* Putih (#FFFFFF) - Kombinasi warna ini memberikan kesan yang elegan dan bersih.

Abu-abu (#808080) - Kombinasi warna ini memberikan kesan yang modern dan serius.

Kuning (#FFFF00) - Kombinasi warna ini memberikan kesan yang cerah dan menyenangkan. */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
	font-family: "Poppins", sans-serif;
}

.flex-row-in {
	display: flex;
	flex-direction: row;
}

.padding-container {
	padding-left: 4% !important;
	padding-right: 4% !important;
}

.container-fluid {
	justify-content: space-between;
	align-items: center;
}

/* ini adalah bagian dari header */
.navbar-brand p {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 1rem;
	font-weight: 600;
	font-size: 1.5rem;
}

.navbar-brand {
	align-items: center;
}

.nama-profile {
	color: #fff;
}

ul.navbar-nav {
	margin-right: 0 !important;
}

.nav-link {
	opacity: 0.8;
	font-weight: 500 !important;
}

.nav-link:hover {
	opacity: 1 !important;
	color: #ffff00 !important;
}

.nav-item {
	margin-right: 1.5rem;
	font-family: "Poppins", sans-serif;
}

.nav-item:last-of-type {
	margin-right: 0;
}

nav.nav-fixed {
	width: 100%;
	position: fixed;
	transition: 0.3s ease-in-out;
	z-index: 1;
}

.nav-active {
	background-color: #1b37be !important;
	box-shadow: 5px -1px 12px -5px grey;
	/* color: rgb(216, 214, 214); */
}

.dropdown:hover > .dropdown-menu {
	display: block;
}

button.navbar-toggler {
	margin-top: 5px;
	border: none;
	outline: none;
}

.navbar-toggler:focus {
	text-decoration: none;
	outline: 0;
	box-shadow: none !important;
}

.navbar-toggler-icon {
	background-image: none !important;
}

.carousel-item img {
	height: 30.125rem;
	object-fit: cover;
	filter: brightness(90%);
	-webkit-filter: brightness(90%);
}

nav.nav-fixed > div.container-fluid {
	align-items: center !important;
}

/* ini adalah bagian dari footer */
footer.flex-row-in {
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-color: #1b37be;
	color: #fff !important;
	justify-content: space-between;
}

footer .fa-regular {
	color: #fff !important;
}

.logo-footer {
	width: 89px;
	margin-bottom: 1.5rem;
}

.logo-n-contact p {
	line-height: 1rem;
}

.logo-n-contact p i {
	margin-right: 0.5rem;
}

.list-footer li {
	list-style: none;
}

h5 {
	font-size: 1.15rem;
}

h6 {
	font-size: 1rem;
}

.list-footer li a {
	text-decoration: none;
	color: #fff;
	font-family: "Poppins", sans-serif;
	line-height: 2.5rem;
	opacity: 0.8;
}

.list-footer li a:hover {
	opacity: 1;
}

.title-con {
	font-size: 1.4rem;
	font-weight: 600;
}

.con-ticon {
	padding: 0.7rem 1rem 0.2rem;
	color: white;
	background-color: #344dc5;
	border-top: 0.6rem solid #fdcb2c;
	margin-bottom: 1.5rem;
}
